version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-26-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Copy Google Services JSON
          command: echo $GOOGLE_SERVICE_JSON > app/google-services.json
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - run:
          name: Copy Keystore Properties
          command: echo $KEYSTORE_PROPERTIES > keystore.properties
      - run:
          name: Building Release App
          command: ./gradlew assembleRelease
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_artifacts:
          path: app/build/outputs/apk
          destination: apks
      - store_test_results:
          path: app/build/test-results
